/**************** HEADER ******************************************************************/
html{
  background-color: #383a59;
}

/* Header/logo Title */
.top-header {
  top: 0;
  width: 100%;
  background: #282a36;
  z-index: 3;
}

@media (min-width: 600px) {
  .top-header {
    position: absolute;    
    z-index: 100;
    top: 0;
    width: 100%;
    background: #282a36;
    z-index: 3;
  }
}

.header {
  padding-left: 20px;
  text-align: left;
  color: white;
}

.titulo-pag {
  text-decoration: none;
  color: #f7e9cd;
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  justify-content: flex-end;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Style the navigation bar links */
.navbar p {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  border-radius: 20px;
}

/* Change color on hover */
.navbar p:hover {
  background-color: #ddd;
  color: black;
  transition: 1s;
  cursor: pointer;
}


/**************** MAIN *******************************************************************/

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sit next to each other /
/ Sidebar/left column */
.side {
  flex: 40%;
  background-color: #383a59;
  padding: 20px;
}

#iframe-ptax {
  width: 100%;
  height: 250px;
  border-style: none;
}

/* Main column */
.main {
  flex: 50%;
  background-color: #383a59;
  padding: 20px;
}



/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1100px) {

  .row,
  .navbar {
    flex-direction: column;
    justify-content: start;
  }
}

#foto-perfil {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 200px;
  height: auto;
  border-radius: 50%;
  border: 5px double #c79a41;
}

/* SESSAO 1 */
.container-quem-sou {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  background-color: #383a59;
  margin-top: 150px;
  /*padding-top: 140px;*/
}

#foto-perfil {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  justify-self: end;
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.h2-title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#quem-sou {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin-top: 0;
  margin-bottom: 20px;
  margin-right: 25px;
}


.imagem-quem-sou {
  grid-column: 1 / 2;
}

.quem-sou-content {
  grid-column: 2 / 3;
}

#quem-sou {
  color: #f7e9cd;
}

.h2-title {
  color: #c79a41;
}

.instagram-logo {
  padding: 15px;
  width: 5%;
}

.instagram-logo:hover {
  transform: scale(1.4);
  cursor: pointer;
}

.formulario-contato{
 display: none;
}

/* Estilos básicos para o formulário */
.contato-form {
	max-width: 500px;
	margin: 180px 20px 0px 0px;
	padding: 20px 50px 50px 20px;
	background-color: #282a36;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
	border-radius: 5px;
}

.contato-form input[type="text"], 
.contato-form input[type="email"], 
.contato-form textarea {
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
}

.contato-form textarea {
	resize: none; /* Impede o redimensionamento do campo */
}

.contato-form input[type="submit"] {
	background-color: #c79a41;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	float: right;
}

.contato-form input[type="submit"]:hover {
	background-color: #45a049;
}

.contato-form label {
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
  color: #ccc;
}

/********** SESSAO 2 *************/

.row-2 {
  background-color: #383a59;
  padding: 90px;
}

.container-experiencias {
  text-align: center;
  padding: 0px 50px 50px;
}


.h2-title-2 {
  color: #c79a41;
  text-align: center;
  margin-top: 100px;
}

.img-experiencias {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

@media (max-width: 800px) {
  .img-experiencias {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    flex-direction: column;
  }
}

.border-img-2 {
  border-radius: 24px;
  width: 230px;
  height: 200px;
}

.border-img-2:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 700px) {
  .row-2 {
    flex-direction: column;
  }
}

/********** SESSAO 3 *************/

.row-3 {
  display: flex;
  flex-wrap: wrap;
  padding: 140px 30px;
  background-color: #383a59;
}

/* Sidebar/left column */
.side-3 {
  flex: 30%;
  background-color: #383a59;
  padding: 20px;
  text-align: center;
}

#img-caixa {
  width: 100%;
  max-width: 400px;
  height: auto;
  padding-top: 120px;
  position: relative;
  z-index: 1;
}

#img-html {
  margin-top: 100px;
  margin-left: 100px;
  width: 100px;
  display: none;
  position: absolute;
  z-index: 2;
}

#img-css {
  margin-top: 100px;
  margin-left: 175px;
  width: 100px;
  display: none;
  position: absolute;
  z-index: 2;
}

#img-js {
  margin-top: 100px;
  margin-left: 250px;
  width: 100px;
  display: none;
  position: absolute;
  z-index: 2;
}

/* Main column */
.main-3 {
  flex: 50%;
  background-color: #383A59;
  padding: 20px;
}

/* Title */
.h2-title-3 {
  color: #c79a41;
  text-align: center;
  margin-top: 0;
}

/* Conhecimentos container */
.container-conhecimentos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 50px 10px;
  color: #c79a41;
}

/* Conhecimentos item */
.conhecimento-item {
  background-color: #F8F8F2;
  color: #383A59;
  font-weight: bold;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  width: 250px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #282A36;
  color: #F8F8F2;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: auto;
}

/* Responsiveness */
@media screen and (max-width: 700px) {
  .row-3 {
    flex-direction: column;
  }

  .conhecimento-item {
    width: 80%;
    height: 150px;
  }
}

/***********************************************************************************/
/* Ajustes para um celular POCO X4 PRO 5G Resolução de 1080 x 2400 pixels*/
@media only screen and (max-width: 600px) {
  /*Body*/
  body {
    background-color: #383a59;
  }
  /* Header */
  .top-header {
  width: 100%;
  }
  /* Navigation */
  .navbar {
  justify-content: center;
  margin-top: 10px;
  }
  .navbar p {
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 15px;
  }
  /* SESSAO 1 */
  .container-quem-sou {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding: 20px;
  }
  .imagem-quem-sou {
  display: none;
  }
  #foto-perfil {
  margin: 0 auto;
  max-width: 80%;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 3px double #c79a41;
  }
  .h2-title {
  margin-top: 20px;
  font-size: 24px;
  text-align: center;
  }
  #quem-sou {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 30px;
  font-size: 16px;
  text-align: justify;
  }
  .quem-sou-content {
  margin-bottom: 10px;
  }
  .instagram-logo {
  padding: 10px;
  width: 30px;
  }
  /* SESSAO 2 */
  .row-2 {
  padding: 50px 20px;
  }
  .container-experiencias {
  padding: 0px 20px;
  }
  .h2-title-2 {
  margin-top: 50px;
  font-size: 24px;
  text-align: center;
  }
  .img-experiencias {
  margin-top: 30px;
  justify-content: center;
  gap: 30px;
  }
  .border-img-2 {
  width: 150px;
  height: 130px;
  }
  /* SESSAO 3 */
  .row-3 {
  flex-direction: column;
  padding: 50px 20px;
  }
  .side-3 {
  flex: 100%;
  text-align: center;
  margin-bottom: 20px;
  }
  #img-caixa {
  padding-top: 50px;
  max-width: 80%;
  }
  }
